.type_0{color: #000000;}
.type_1{color: #00c000;}
.type_2{color: #00c000;}
.type_3{color: #0000ff;}
.type_4{color: #ff8000;}
.type_5{color: #ff0080;}
.type_6{color: #ff0000;}
.type_7{color: #ff0000;}
.type_8{color: #804000;}
